new flavors
<form method="POST" action="/ice_creams">
  Flavor:<input type="text" name="flavor"><br>
  Rating:<input type="number" name="rating"><br>
  Topping:<input type="text" name="topping"><br>
  <input type="submit" value="Submit">
</form>
